@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

body {
  .loader {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    display: block;
  }
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .homepagegone {
    transform: translateY(-100%);
    opacity: 0.3;
  }
  .home {
    position: absolute;
    display: block;
    width: 100%; // Hack in order to get scroll event still working
    height: calc(100% + 1px);
    z-index: 8;
    overflow: hidden;
    background-image: url(../images/bck.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: transform 1s ease, opacity 1s ease;

    .link_homepage
    {
      text-decoration: none;
    }
    .link_logo
    {
      cursor: pointer;
    }
    
    h1 {
      font-family: NexaHeavy;
      height: auto;
      position: absolute;
      top: 15%;
      left: 10%;
      font-size: 3.5em;
      font-weight: bold;
      color: white;
      b {
        &:before {
          position: absolute;
          top: 2.5em;
          content: '';
          display: block;
          height: 0.5em;
          width: 2em;
          background-color: #4F91F3;
          transition: width 0.5s ease;
          z-index: -1;
        }
        &:hover:before {
          width: 3em;
        }
      }
    }
    p {
      font-family: NexaLight;
      width: 30em;
      height: auto;
      position: absolute;
      top: 50%;
      left: 10%;
      font-size: 0.9em;
      color: white;
      line-height: 1.8em;
    }
    img {
      width: 180px;
      position: absolute;
      bottom: 50px;
      right: 60px;
    }
    button {
      position: absolute;
      bottom: 80px;
      font-family: Arial, sans-serif;
      font-size: 12px;
      width: 100%;
      display: block;
      color: white;
      text-align: center;
    }
    .clickbtn {
      display: none;
    }
    .white-line {
      width: 2px;
      height: 50px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
}
/* Responsive iphone7 */

@media (max-width: 600px) {
  body {
    .home {
      background-position: center;
      h1 {
        top: 10%;
        font-size: 2em;
      }
      p {
        width: 80%;
        top: 40%;
      }
      img {
        display: none;
      }
      button {
        bottom: 60px;
      }
      .scrollbtn {
        display: none;
      }
      .clickbtn {
        display: block;
      }
    }
  }
}
