.slider{
  .slide2{
    z-index: 4;
    .engine{
      width: 55em;
      height: auto;
      position: absolute;
      top: -18em;
      left: -20em;
      transform: scale(0.55) rotate(-19deg);
    }
    .maintext{
      position: absolute;
      width: 500px;
      height: 50%;
      top: 20%;
      left: calc(50% - 250px);
      h1{
        font-family: NexaHeavy;
        font-size: 2em;
        color: $blue;
        margin-bottom: 1em;
      }
      p{
        font-family: NexaLight;
        margin-bottom: 1em;
        color: grey;
        line-height: 1.8em;
      }
    }
    .thermo{
      width: 8em;
      height: auto;
      position: absolute;
      top: 10%;
      right: 10%;
      transform: rotate(8deg);
      pointer-events: none;
    }
    .bold-text{
      font-weight: 900;
    }
    .grabbutton{
    position: absolute;
    top: 70%;
    right: 20%;
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 100%;
    cursor: pointer;
    }
    .progressbar{
    position: absolute;
    top: 75%;
    right: calc(15% - 5px);
    width: 50px;
    height: 50px;
    background-color: $blue;
    transform-origin: bottom;
    z-index: -1;
    // transition: transform 0.1s ease;
    }
  }
}

@media (max-width: 800px) {
  body {
    .slider {
      .slide2 {
        .maintext {
          h1 {
            margin-top: 3em;
            margin-bottom: 2em;
          }
          p {
            font-size: 12px;
          }
        }
        .engine {
          width: 42em;
        }
          .thermo {
            display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    .slider {
      .slide2 {
        .maintext {
          width: 80%;
          height: auto;
          top: 5%;
          left: 10%;
        }
      }
    }
  }
}
