body {
  .slider {
    .slide1 {
      a:hover .cursor{
        transform: scale(3);
    }
      display: block;
      z-index: 5;
      .backbtn {
        position: absolute;
        top: 2%;
        left: 34%;
        font-family: NexaLight;
        color: lightgrey;
        font-size: 12px;
        display: none;
      }
      .maintext {
        position: absolute;
        width: 500px;
        height: 50%;
        top: 15%;
        left: calc(50% - 250px);

        h1 {
          font-family: NexaHeavy;
          font-size: 2em;
          color: $blue;
          margin-bottom: 1em;
        }
        p {
          font-family: NexaLight;
          margin-bottom: 1em;
          color: grey;
          line-height: 1.8em;
        }
      }  
      .dragit {
        position: absolute;
        top: 67%;
        left: 88%;
        width: 50px;
        height: auto;
        color: grey;
        font-family: NexaLight;
        font-size: 12px;
      }
      .astronautpic {
        height: auto;
        width: 30%;
        position: absolute;
        bottom: -5px;
      }    
      .rocketcontainer {
        position: absolute;
        width: 20%;
        height: 100%; // background-color: lightblue;
        top: 0%;
        right: 5%;
        img {
          display: block;
          height: 50%;
          width: auto;
          margin: auto;
        }
        .rockettop {
          opacity: 1;
          transition: opacity 0.6s ease-in;
        }
        .rocketbottom {
          position: absolute;
          cursor: pointer;
          left: calc(50% - 60px);
          opacity: 1;
          transition: opacity 0.6s ease-in;
        }
        .rocketthrough {
          position: absolute;
          opacity: 0;
          top: 18%;
          left: calc(50% - 35px);
          transform: scale(1.5);
          pointer-events: none;
          transition: opacity 0.8s ease-in 0.1s;
        }
      }
    // Parallax 1 POSITION
      .parallax1{
        .layer1{
          margin-top: 10%;
          margin-left: -2em;
        }
      }
    }
  }
}

 
@media (max-width: 1450px){
  body {
    .slider {
      .slide1 {
        .parallax1{
          .layer1{
            margin-top: 15%;
            margin-left: -2em;
          }
        }
      }
    }
  }
}

@media (max-width: 1285px) {
  body {
    .slider {
      .slide1 {
        .parallax1{
          .layer1{
            margin-top: 18%;
            margin-left: -2em;
          }
        }
      }
    }
  }
}



@media (max-width: 800px) {
  body {
    .slider {
      .slide1 {
        .parallax1{
          .layer1{
            margin-top: 48%;
            margin-left: -2em;
          }
        }
        .maintext {
          h1 {
            margin-top: 1.5em;
            margin-bottom: 1em;
          }
          p {
            font-size: 14px;
          }
        }
        .rocketcontainer,
        .dragit {
          display: none;
        }
        .astronautpic {
          height: 270px;
          width: auto;
        }
        .block
        {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    .slider {
      .slide1 {
        .backbtn {
          display: block;
        }
        .maintext {
          width: 80%;
          height: auto;
          top: 5%;
          left: 10%;
        }
        a {
          font-size: 10px;
        }
        .parallax1{
          .layer1{
            margin-top: 60%;
            margin-left: -2em;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    .slider {
      .slide1 {
        .parallax1{
          .layer1{
            margin-top: 98%;
            margin-left: -2em;
          }
        }
      }
    }
  }
}
