.slider {
    .slide6 {
      z-index: 2;
      .astro{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 27%;
      }
      .robot_body
      {
        position: absolute;
        width: 35%;
        bottom: 10%;
        left: -4.7%;
        z-index: 10;
      }
      .robot
      {
        position: absolute;
        width: 20%;
        bottom: 35%;
        left: -1%;
        animation: headrotate 5s infinite;
      }

      @keyframes headrotate {
        0% {transform: rotateY(-50deg)}
        100% {transform: rotateY(50deg)}
      }

      .maintext {
        position: absolute;
        width: 500px;
        height: 50%;
        top: 20%;
        left: calc(50% - 250px);
        h1 {
          font-family: NexaHeavy;
          font-size: 2em;
          color: $blue;
          margin-bottom: 1em;
        }
        p {
          font-family: NexaLight;
          margin-bottom: 1em;
          color: grey;
          line-height: 1.8em;
        }
      }
// parallax 4 POSITION
      .parallax4{
        .layer1{
          width: 30em;
          margin-top: 25%;
        }
      }
    }
  }

  // @media (max-width: 1285px) {
  //   body {
  //     .slider {
  //       .slide6 {
  //         .parallax4{
  //           .layer1{
  //             margin-bottom: 10%;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  
  @media (max-width: 1700px) {
    body {
      .slider {
        .slide6 {
          .parallax4{
            .layer1{
              margin-top: 33%;
              margin-left: 65%;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 800px) {
    body {
      .slider {
        .slide6 {
          .parallax4{
            .layer1{
              margin-top: 60%;
              margin-left: 40em;
              width: 30%;
            }
          }
          .maintext {
            h1 {
              margin-top: 2em;
              margin-bottom: 2em;
            }
            p {
              font-size: 12px;
            }
          }
          .robot {
            display: none;
          }
          .robot_body {
            display: none;
          }
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    body {
      .slider {
        .slide6 {
          .maintext {
            width: 80%;
            height: auto;
            top: 5%;
            left: 10%;
          }
          a {
            font-size: 10px;
          }
          .parallax4{
            .layer1{
              margin-top: 70%;
              margin-left: 27em;
              width: 50%;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 400px) {
    body {
      .slider {
        .slide6 {
          .parallax4{
            .layer1{
              margin-top: 120%;
              margin-left: 20em;
            }
          }
        }
      }
    }
  }
  