.slider {
    .slide3 {
      z-index: 2;
      .dragon {
        width: 17em;
        position: absolute;
        top: 15%;
        left: 3%;
      }
      .button {
        width: 2em;
        height: 2em;
        position: absolute;
        top: 35%;
        background: #696161;
        border-radius: 2em;
      }
      .button1 {        
        left: 20%;
      }
      .button2 {
        right: 20%;
      }
      .maintext {
        position: absolute;
        width: 500px;
        height: 50%;
        top: 20%;
        left: calc(50% - 250px);
        h1 {
          font-family: NexaHeavy;
          font-size: 2em;
          color: $blue;
          margin-bottom: 1em;
        }
        p {
          font-family: NexaLight;
          margin-bottom: 1em;
          color: grey;
          line-height: 1.8em;
        }
        .hidden-text1 {
          opacity: 0;
        }
        .hidden-text2 {
          opacity: 0;
        }
      }
      .falcon9 {
        width: 2.5em;
        position: absolute;
        top: 5%;
        right: 15%;
      }
    }
  }
