.slider {
  .slide5 {
    z-index: 2;
    img{
      position: absolute;
      bottom: 0;
      left: 2%;
    }
    .maintext {
      position: absolute;
      width: 500px;
      height: 50%;
      top: 20%;
      left: calc(50% - 250px);
      h1 {
        font-family: NexaHeavy;
        font-size: 2em;
        color: $blue;
        margin-bottom: 1em;
      }
      p {
        font-family: NexaLight;
        margin-bottom: 1em;
        color: grey;
        line-height: 1.8em;
      }
    }
    .marsplanet3d{
      position: absolute;
      top: -30px;
      left: 65%;
    }
  }
}

@media (max-width: 800px) {
  body {
    .slider {
      .slide5{
        .maintext {
          h1 {
            margin-top: 0.5em;
            margin-bottom: 1em;
          }
          p {
            font-size: 14px;
          }
        }
        img {
          width: 78%;
        }
        .block{
          display: none;
        }
        .marsplanet3d{
          position: absolute;
          top: -30px;
          left: 50%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    .slider {
      .slide5 {
        .maintext {
          width: 80%;
          height: auto;
          top: 5%;
          left: 10%;
        }
        .rocketcontainer {
          display: none;
        }
      }
    }
  }
}
