.slider {
    .slide6 {
      z-index: 2;
      .astro{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 27%;
      }
      .robot_body
      {
        position: absolute;
        width: 35%;
        bottom: 10%;
      }
      .robot
      {
        position: absolute;
        width: 20%;
        bottom: 35%;
        left: -1%;
        animation: headrotate 5s infinite;
      }

      @keyframes headrotate {
        0% {transform: rotateY(-50deg)}
        100% {transform: rotateY(50deg)}
      }

      .maintext {
        position: absolute;
        width: 500px;
        height: 50%;
        top: 20%;
        left: calc(50% - 250px);
        h1 {
          font-family: NexaHeavy;
          font-size: 2em;
          color: $blue;
          margin-bottom: 1em;
        }
        p {
          font-family: NexaLight;
          margin-bottom: 1em;
          color: grey;
          line-height: 1.8em;
        }
      }
    }
  }

  @media (max-width: 800px) {
    body {
      .slider {
        .slide6{
          .maintext {
            h1 {
              margin-top: 2em;            
              margin-bottom: 2em;
            }
            p {
              font-size: 12px;
            }
          }
          .astronautpic {
            height: 270px;
            width: auto;
          }
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    body {
      .slider {
        .slide6 {
          .maintext {
            width: 80%;
            height: auto;
            top: 5%;
            left: 10%;
          }
          .rocketcontainer {
            display: none;
          }
        }
      }
    }
  }