.slider{
  .slide1{
    z-index: 5;
    .maintext{
      position: absolute;
      width: 500px;
      height: 50%;
      top: 20%;
      left: calc(50% - 250px);
      h1{
        font-family: NexaHeavy;
        font-size: 2em;
        color: $blue;
        margin-bottom: 1em;
      }
      p{
        font-family: NexaLight;
        margin-bottom: 1em;
        color: grey;
        line-height: 1.8em;
      }
    }
    .astronautpic{
      height: 70%;
      width: auto;
      position: absolute;
      bottom: -5px;
    }
    .rocketcontainer{
      position: absolute;
      width: 20%;
      height: 100%;
      // background-color: lightblue;
      top: 0%;
      right: 5%;
    img{
      display: block;
      height: 50%;
      width: auto;
      margin: auto;
    }
    .rocketbottom{
      cursor: pointer;
    }
    .rocketthrough{
      display: none;
    }
    }
  }
}
