.slider{
  .slide4{
    z-index: 3;
    .maintext{
      position: absolute;
      width: 500px;
      height: 80%;
      bottom: 0;
      left: calc(50% - 250px);
      h1{
        font-family: NexaHeavy;
        font-size: 2em;
        color: $blue;
        margin-bottom: 1em;
      }
      p{
        font-family: NexaLight;
        margin-bottom: 1em;
        color: grey;
        line-height: 1.8em;
        transform: translateY(0)
      }
      .text-missions2{
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      .first{
        top: 4em;
      }
      .second{
        top: 12em;
      }
      .shadow{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%);
        z-index: 3;
      }
    }
    .bfr{
      position: absolute;
      top: -27em;
      right: 4em;
      width: 12em;
      height: auto;
      z-index: 3;
      transition: transform 0.1s ease;
    }
    .leg{
      width: 4em;
      height: auto;
      position: absolute;
      top: -0.5em;
      display: block;
      z-index: 2;
    }
    .leg1{
      right: 9em;
      transform: rotate(-30deg);
      transition: transform 0.1s ease;
    }
    .leg2{
      right: 7em;
      transform: rotate(30deg);
      transition: transform 0.1s ease;
    }
    .scroll-down-container{
      position: absolute;
      opacity: 1;
      top: 5em;
      right: 6.7em;
      width: 6.5em;
      height: 20%;
      transition: opacity 0.4s ease;
      .dashed{
        width: 3%;
        height: 45%;
        margin: 7% auto;
        border-left: 1px dashed white;
        opacity: 0.6;
      }
      .scroll-down{
        font-family: NexaLight;
        font-size: 12px;
        color: white;
        opacity: 0.6;
        margin-left: 18%;
      }
    }
  // Parallax 3 POSITION
  .parallax3{
    .layer1{
      width: 30em;
      margin-top: 20%;
      margin-left: -10%;
    }
  }
}
}

@media (max-width: 1000px) {
  .shadow{
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    .slider {
      .slide4 {
        .parallax3{
          .layer1{
            margin-top: 60%;
            margin-left: 0;
          }
        }
        .maintext {
          h1 {
            margin-top: 2em;
            margin-bottom: 2em;
          }
          p {
            font-size: 12px;
          }
        }
        .scroll-down-container
        {
          display: none;
        }
        .bfr
        {
          display: none;
        }
        .leg1
        {
          display: none;
        }
        .leg2
        {
          display: none;
        }
        .mars {
          z-index: 10;
          width: 80%;
          top: 75%;
        }
        .text-missions2
        {
          opacity: 1;
          top: 70%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    .slider {
      .slide4 {
        .maintext {
          width: 80%;
          height: auto;
          top: 5%;
          left: 10%;
        }
        img {
          width: 75%;
        }
        .parallax3{
          .layer1{
            margin-top: 110%;
          }
        }
      }
    }
  }
}
