@keyframes display {
  0%{
    opacity: 0;
    filter: blur(40px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes hide {
  0%{
    opacity: 1;
    filter: blur(0px);
  }
  100%{
    opacity: 0;
    filter: blur(40px);
  }
}

body{
.slider{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: red;
  .slide{
    opacity: 0;
    display: none;

    .links-box
    {
      position: relative;
      right:0;
      text-align: right;
      margin-top: 5em;
    }

    .links-box:hover .block
    {
      animation: translatebox 2s ease-in;
      transform-origin: right;
    }

    @keyframes translatebox {
      0% {transform: scaleX(1)}
      20% {transform: scaleX(1.2)}
      100% {transform: scaleX(1)}
    }

    .links
    {
      font-family: NexaLight;
      color: grey;
      font-size: 0.96em;
      text-align: right;
      margin-top: 3em;
      text-decoration: none;
    }
    .block
    {
      position: absolute;
      width: 12em;
      height: 0.2em;
      background-color: $blue;
      left: 62%;
      margin-top: 1%;
    }
    .links:hover
    {
      cursor: pointer;
    }

    .links:hover .block
    {
      animation: transformation 0.5s ease-in-out forwards;
      transform-origin: right;
    }

    @keyframes transformation {
    0% {transform: scaleX(1)}
    100% {transform: scaleX(1.3)}
    }

  }
  .slide1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  }
  .slide2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
  }
  .slide3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
  }
  .slide4{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .slide5{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .slide6{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .texthover{
    width: 50px;
    height: auto;
    padding: 4px;
    position: absolute;
    top: 87%;
    left: calc(24% - 24px);
    z-index: 5;
    text-align: center;
    color: lightgrey;
    font-family: NexaLight;
    font-size: 14px;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  .texthover1{
    left: calc(24% - 24px);
  }
  .texthover2{
    left: calc(33% - 33px);
  }
  .texthover3{
    left: calc(43% - 43px);
  }
  .texthover4{
    left: calc(55% - 55px);
  }
  .texthover5{    
    width: 90px;
    left: calc(65% - 65px);
  }
  .texthover6{
    left: calc(76% - 76px);
  }
  .slidermenu{
    z-index: 6;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:space-around;
    top: 85%;
    left: calc(25% - 25px);
    width: 50%;
    height: 100px;
    .circle{
      min-width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 2px solid lightgrey;
      cursor: pointer;
    }
    .decorationcircle{
      min-width: 10px;
      height: 10px;
      background-color: lightgrey;
      border-radius: 100%;
    }
    .separationrect{
      width: 100px;
      height: 3px;
      background-color: lightgrey;
    }
    .clickedbtn{
      border: 2px solid grey;
      background-color: grey;
      &:before{
        position: absolute;
        margin-top: -7px;
        margin-left: -7px;
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 3px solid $blue;
      }
    }
  }
  .active{
    animation: display 0.8s ease;
    animation-fill-mode:forwards;
  }
  .hide{
    animation: display 0.8s ease;
    animation-fill-mode:forwards;
    animation-direction: reverse;
  }
}
}
