.slider{
  .slide2{
    z-index: 4;    
    .engine{
      width: 70%;
      height: auto;
      position: absolute;
      top: -20em;
      left: -20em;
      transform: scale(0.55) rotate(-19deg);
    }
    .maintext{
      position: absolute;
      width: 500px;
      height: 50%;
      top: 20%;
      left: calc(50% - 250px);
      h1{
        font-family: NexaHeavy;
        font-size: 2em;
        color: $blue;
        margin-bottom: 1em;
      }
      p{
        font-family: NexaLight;
        margin-bottom: 1em;
        color: grey;
        line-height: 1.8em;
      }

    }
    .thermo{
      width: 45em;
      height: auto;
      position: absolute;
      top: -1em;
      right: -15em;
      transform: rotate(8deg);
    }
    .bold-text{
      font-weight: 900;
    }
  }
}
