@keyframes display {
  0%{
    opacity: 0;
    filter: blur(100px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes hide {
  0%{
    opacity: 1;
    filter: blur(0px);
  }
  100%{
    opacity: 0;
    filter: blur(100px);
  }
}

body{
.slider{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  // background-color: red;
  .slide{
    opacity: 0;
  }
  .slide1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  }
  .slide2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: pink;
  }
  .slide3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .slide4{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .slidermenu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:space-between;
    top: 85%;
    left: calc(25% - 25px);
    width: 50%;
    height: 100px;
    .circle{
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: lightgrey;
      cursor: pointer;
    }
  }
  .active{
    animation: display 1s ease;
    animation-fill-mode:forwards;
  }
  .hide{
    animation: display 1s ease;
    animation-fill-mode:forwards;
    animation-direction: reverse;
  }
}
}
