// fonts
$blue: #4F91F3;

@font-face {
    font-family: NexaHeavy;
    src: url(../fonts/NexaHeavy.otf);
}
@font-face {
    font-family: NexaLight;
    src: url(../fonts/NexaLight.otf);
}


@import 'scss/mainpage.scss';
@import 'scss/slider.scss';
@import 'scss/slide1.scss';
@import 'scss/slide2.scss';
@import 'scss/slide3.scss';
@import 'scss/slide4.scss';
