// fonts
@font-face {
    font-family: NexaHeavy;
    src: url(../fonts/NexaHeavy.otf);
}
@font-face {
    font-family: NexaLight;
    src: url(../fonts/NexaLight.otf);
}


@import 'scss/mainpage.scss';
@import 'scss/slider.scss';
@import 'scss/slide1.scss';
