@font-face {
  font-family: NexaHeavy;
  src: url(../fonts/NexaHeavy.otf); }
@font-face {
  font-family: NexaLight;
  src: url(../fonts/NexaLight.otf); }
@keyframes mousedown {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
@keyframes click2 {
  30% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
@keyframes mousedown {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
body .cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 45px;
  border: 1px solid #D3D3D3;
  z-index: 9999;
  pointer-events: none; }
  body .cursor .inside_cursor {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 45px;
    background: #E4E4E4;
    top: 40%;
    left: 40%; }
body .cursor.mousedown {
  animation: mousedown 0.5s ease-in-out forwards; }
body .cursor.click {
  animation: click 0.7s ease-out; }
body .cursor.click2 {
  animation: click2 0.7s ease-out; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body .homepagegone {
    transform: translateY(-100%);
    opacity: 0.3; }
  body .home {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% + 1px);
    z-index: 8;
    overflow: hidden;
    background-image: url(../images/bck.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: transform 1s ease, opacity 1s ease; }
    body .home h1 {
      font-family: NexaHeavy;
      height: auto;
      position: absolute;
      top: 15%;
      left: 10%;
      font-size: 3.5em;
      font-weight: bold;
      color: white; }
      body .home h1 b:before {
        position: absolute;
        top: 2.5em;
        content: '';
        display: block;
        height: 0.5em;
        width: 2em;
        background-color: #4F91F3;
        transition: width 0.5s ease;
        z-index: -1; }
      body .home h1 b:hover:before {
        width: 3em; }
    body .home p {
      font-family: NexaLight;
      width: 30em;
      height: auto;
      position: absolute;
      top: 50%;
      left: 10%;
      font-size: 0.9em;
      color: white;
      line-height: 1.8em; }
    body .home img {
      width: 180px;
      position: absolute;
      bottom: 50px;
      right: 60px; }
    body .home button {
      position: absolute;
      bottom: 80px;
      font-family: Arial, sans-serif;
      font-size: 12px;
      width: 100%;
      display: block;
      color: white;
      text-align: center; }
    body .home .white-line {
      width: 2px;
      height: 50px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 50%; }

/* Responsive iphone7 */
@media (max-width: 600px) {
  body .home {
    background-position: center; }
    body .home h1 {
      top: 15%;
      font-size: 2.5em; }
    body .home p {
      width: 80%;
      top: 40%; }
    body .home img {
      display: none; }
    body .home button {
      bottom: 60px; } }
@keyframes display {
  0% {
    opacity: 0;
    filter: blur(50px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }
@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0px); }
  100% {
    opacity: 0;
    filter: blur(100px); } }
body .slider {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  body .slider .slide {
    opacity: 0;
    display: none; }
  body .slider .slide1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8; }
  body .slider .slide2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8; }
  body .slider .slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black; }
  body .slider .slide4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black; }
  body .slider .slidermenu {
    z-index: 6;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 85%;
    left: calc(25% - 25px);
    width: 50%;
    height: 100px; }
    body .slider .slidermenu .circle {
      min-width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 2px solid lightgrey;
      cursor: pointer; }
    body .slider .slidermenu .decorationcircle {
      min-width: 10px;
      height: 10px;
      background-color: lightgrey;
      border-radius: 100%; }
    body .slider .slidermenu .separationrect {
      width: 100px;
      height: 3px;
      background-color: lightgrey; }
    body .slider .slidermenu .clickedbtn {
      border: 2px solid grey;
      background-color: grey; }
      body .slider .slidermenu .clickedbtn:before {
        position: absolute;
        margin-top: -7px;
        margin-left: -7px;
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 3px solid #4F91F3; }
  body .slider .active {
    animation: display 0.8s ease;
    animation-fill-mode: forwards; }
  body .slider .hide {
    animation: display 0.8s ease;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

body .slider .slide1 {
  display: block;
  z-index: 5; }
  body .slider .slide1 .maintext {
    position: absolute;
    width: 500px;
    height: 50%;
    top: 20%;
    left: calc(50% - 250px); }
    body .slider .slide1 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    body .slider .slide1 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em; }
  body .slider .slide1 .astronautpic {
    height: auto;
    width: 25%;
    position: absolute;
    bottom: -5px; }
  body .slider .slide1 .rocketcontainer {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0%;
    right: 5%; }
    body .slider .slide1 .rocketcontainer img {
      display: block;
      height: 50%;
      width: auto;
      margin: auto; }
    body .slider .slide1 .rocketcontainer .rocketbottom {
      position: absolute;
      cursor: pointer;
      left: calc(50% - 60px); }
    body .slider .slide1 .rocketcontainer .rocketthrough {
      position: absolute;
      opacity: 0;
      top: 18%;
      left: calc(50% - 35px);
      transform: scale(1.5);
      pointer-events: none;
      transition: opacity 0.8s ease-in; }

@media (max-width: 800px) {
  body .slider .slide1 .maintext h1 {
    margin-top: 2em;
    margin-bottom: 2em; }
  body .slider .slide1 .maintext p {
    font-size: 12px; }
  body .slider .slide1 .astronautpic {
    height: 270px;
    width: auto; } }
@media (max-width: 600px) {
  body .slider .slide1 .maintext {
    width: 80%;
    height: auto;
    top: 5%;
    left: 10%; }
  body .slider .slide1 .rocketcontainer {
    display: none; } }
.slider .slide2 {
  z-index: 4; }
  .slider .slide2 .engine {
    width: 55em;
    height: auto;
    position: absolute;
    top: -18em;
    left: -20em;
    transform: scale(0.55) rotate(-19deg); }
  .slider .slide2 .maintext {
    position: absolute;
    width: 500px;
    height: 50%;
    top: 20%;
    left: calc(50% - 250px); }
    .slider .slide2 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    .slider .slide2 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em; }
  .slider .slide2 .thermo {
    width: 45em;
    height: auto;
    position: absolute;
    top: 1em;
    right: -15em;
    transform: rotate(8deg); }
  .slider .slide2 .bold-text {
    font-weight: 900; }
  .slider .slide2 .grabbutton {
    position: absolute; }

@media (max-width: 800px) {
  body .slider .slide2 .maintext h1 {
    margin-top: 2em;
    margin-bottom: 2em; }
  body .slider .slide2 .maintext p {
    font-size: 12px; }
  body .slider .slide2 .engine {
    display: none; }
  body .slider .slide2 .thermo {
    display: none; } }
@media (max-width: 600px) {
  body .slider .slide2 .maintext {
    width: 80%;
    height: auto;
    top: 5%;
    left: 10%; } }
.slider .slide3 {
  z-index: 3; }
  .slider .slide3 .mars {
    position: absolute;
    top: 20%;
    left: -20%;
    width: 40%;
    height: auto;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out; }
@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 3px); }
  to {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 3px); }
  to {
    -moz-transform: translate(0, 0px); } }
  .slider .slide3 .maintext {
    position: absolute;
    width: 500px;
    height: 80%;
    bottom: 0;
    left: calc(50% - 250px); }
    .slider .slide3 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    .slider .slide3 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em;
      transform: translateY(0); }
    .slider .slide3 .maintext .text-missions2 {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease; }
    .slider .slide3 .maintext .first {
      top: 4em; }
    .slider .slide3 .maintext .second {
      top: 12em; }
    .slider .slide3 .maintext .shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 50%);
      z-index: 3; }
  .slider .slide3 .bfr {
    position: absolute;
    top: -27em;
    right: 4em;
    width: 12em;
    height: auto;
    z-index: 3;
    transition: transform 0.1s ease; }
  .slider .slide3 .leg {
    width: 4em;
    height: auto;
    position: absolute;
    top: -0.5em;
    display: block;
    z-index: 2; }
  .slider .slide3 .leg1 {
    right: 9em;
    transform: rotate(-30deg);
    transition: transform 0.1s ease; }
  .slider .slide3 .leg2 {
    right: 7em;
    transform: rotate(30deg);
    transition: transform 0.1s ease; }
  .slider .slide3 .scroll-down-container {
    position: absolute;
    opacity: 1;
    top: 5em;
    right: 6.7em;
    width: 8%;
    height: 20%;
    transition: opacity 0.4s ease; }
    .slider .slide3 .scroll-down-container .dashed {
      width: 1%;
      height: 45%;
      margin: 7% auto;
      border-left: 1px dashed white;
      opacity: 0.6; }
    .slider .slide3 .scroll-down-container .scroll-down {
      font-family: NexaLight;
      font-size: 12px;
      color: white;
      opacity: 0.6;
      margin-left: 18%; }

.slider .slide4 {
  z-index: 2; }
  .slider .slide4 img {
    position: absolute;
    bottom: 0;
    left: 2%; }
  .slider .slide4 .maintext {
    position: absolute;
    width: 500px;
    height: 50%;
    top: 20%;
    left: calc(50% - 250px); }
    .slider .slide4 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    .slider .slide4 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em; }

.slider .slide5 {
  z-index: 2; }
  .slider .slide5 img {
    position: absolute;
    bottom: 0;
    left: 2%; }
  .slider .slide5 .maintext {
    position: absolute;
    width: 500px;
    height: 50%;
    top: 20%;
    left: calc(50% - 250px); }
    .slider .slide5 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    .slider .slide5 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em; }

.slider .slide6 {
  z-index: 2; }
  .slider .slide6 img {
    position: absolute;
    bottom: 0;
    left: 2%; }
  .slider .slide6 .maintext {
    position: absolute;
    width: 500px;
    height: 50%;
    top: 20%;
    left: calc(50% - 250px); }
    .slider .slide6 .maintext h1 {
      font-family: NexaHeavy;
      font-size: 2em;
      color: #4F91F3;
      margin-bottom: 1em; }
    .slider .slide6 .maintext p {
      font-family: NexaLight;
      margin-bottom: 1em;
      color: grey;
      line-height: 1.8em; }

/*# sourceMappingURL=style.css.map */
